.ReviewListItem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 50px;

    & li {
        list-style-type: none;
    }

    & .LabelContainer {
        display: flex;
        flex-direction: column;

        & h3 {
            margin: 0px;
            text-align: left;
        }

        & a,
        p {
            color: var(--coolGray);
            cursor: pointer;
            font-size: 14px;
            text-align: left;
            text-decoration: underline;
        }
    }

    & .ValueContainer {
        min-width: 100px;

        & p {
            color: var(--marineBlue);
            font-size: 14px;
            font-weight: 700;
            margin: 0px;
            text-align: right;
        }
    }
}

.ReviewListSubItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    & .SubItemLabel {
        color: var(--coolGray);
        flex-grow: 1;
        font-size: 14px;
        margin: 0px;
    }

    & .SubItemValue {
        color: var(--marineBlue);
        font-size: 14px;
        margin: 0px;
    }
}