.Footer {
  background-color: rgb(26, 26, 26);
  width: 100%;

  & p {
    color: white;
    font-size: 11px;
    text-align: center;
  }

  & a {
    color: white;
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .Footer {
    & p {
      font-size: 14px;
    }
  }
}