.Card {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px 20px;
  min-width: 20px;
  padding: 20px;
  text-align: left;

  & h1 {
    color: var(--marineBlue);
    font-size: 24px;
    margin: 0px 0px 10px 0px;
  }

  & p {
    color: var(--coolGray);
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
}

@media (min-width: 576px) {
  .Card {
    max-width: 425px;
  }
}