.FormCard {
    background-color: transparent;
    background-image: url('../assets/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    min-height: 200px;
    padding: 0px;
    width: 100%;
}

.FormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

@media (min-width: 575px) {
    .FormCard {
        background:none;
        background-color: white;
        border-radius: 20px;
        flex-direction: row;
        max-height: 600px;
        max-width: 940px;
        min-width: 575px;
        padding: 15px;

        & h1{
            font-size: 30px;
        }
    }

    .FormContainer {
        flex-grow: 1;
        padding: 15px;
    }
}