.FormButtonContainer {
    /* DISPLAY STYLES */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    /* SIZING & SPACING STYLES */
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    max-width: 450px;

    /* APPEARANCE STYLES */
    background-color: white;

    & .SignUpFormButton {
        /* SIZING & SPACING STYLES */
        max-width: 100px;
        min-height: 40px;

        /* APPEARANCE STYLES */
        border-radius: 5px;

        & input {
            /* APPEARANCE STYLES */
            background: none;

            /* FONT STYLES */
            font-size: 14px;
        }
    }

    & .PrevStep {
        /* APPEARANCE STYLES */
        background: none;

        & input {
            /* FONT STYLES */
            color: gray;
        }
    }

    & .NextStep,
    .Confirm {
        /* APPEARANCE STYLES */
        background: var(--marineBlue);

        & input:hover,
        button:hover,
        .Link:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    & .Confirm {
        /* APPEARANCE STYLES */
        background: var(--purplishBlue);
    }
}

@media (min-width: 575px) {
    .FormButtonContainer {
        padding: 0px;
    }
}