.FormButtonContainer {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 450px;
    padding: 15px;
    width: 100%;

    & .SignUpFormButton {
        border-radius: 5px;
        max-width: 100px;
        min-height: 40px;

        & input {
            background: none;
            font-size: 14px;
        }
    }

    & .PrevStep {
        background: none;

        & input {
            color: gray;
        }
    }

    & .NextStep,
    .Confirm {
        background: var(--marineBlue);

        & input:hover,
        button:hover,
        .Link:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    & .Confirm {
        background: var(--purplishBlue);
    }
}

@media (min-width: 575px) {
    .FormButtonContainer {
        padding: 0px;
    }
}