.FormBody {
    box-sizing: border-box;
    margin: 0px 17px;
    max-width: none;
    padding: 35px 25px 20px 25px;
    position:relative;
}

.FormBody h1, p {
    text-align: left;
}

.FormBody::before {
    border-radius: 10px;
    bottom: 0px;
    box-shadow: 0 0 10px 0 #d4d4d4;
    content: "";
    height: 100%;
    left: 0px;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
  }

@media (min-width: 575px) {
    .FormBody{
        margin: 0px;
        padding: 35px 0px 20px 0px;
    }

    .FormBody::before {
        visibility: hidden;
    }
}

@media (min-width: 850px) {
    .FormBody{
        min-width: 450px;
        padding: 35px 0px 0px 0px;
    }
}