.ReviewListSection {
    background-color: var(--magnolia);
    border-radius: 10px;
    padding: 15px 20px;

    & .ReviewListPlanSection {
        padding-bottom: 10px;
    }

    & .ReviewListAddOnSection {
        border-top: 1px solid var(--lightGray);
        padding-top: 15px;
    }
}

.TotalListItem {
    padding: 0px 20px;

    & h3{
        color: var(--coolGray);
        font-size: 14px;
        font-weight: 500;
    }

    & .ValueContainer{
        & p{
            color: var(--purplishBlue);
            font-size: 16px;
        }
    }
}

.ReviewListAddOnSection {
    & li {
        list-style-type: none;
    }
}