.Step {
    align-items: center;
    display: flex;
    flex-direction: row;

    & .StepDot {
        align-items: center;
        border: 1px solid var(--lightBlue);
        border-radius: 20px;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        height: 30px;
        justify-content: center;
        margin: 0px 7px;
        width: 30px;
    }

    & .StepDot[data-current-step=true] {
        background-color: var(--lightBlue);
        color: var(--marineBlue);
    }

    & .StepLabel {
        display: none;
    }
}

@media (min-width: 575px) {
    .Step {
        margin-bottom: 25px;

        & .StepDot {
            margin: 0px 15px 0px 0px;
        }

        & .StepLabel {
            display: block;

            & h2 {
                font-size: 13px;
                font-weight: 400;
                margin: 0px;
            }

            & p {
                color: var(--alabaster);
                font-kerning: none;
                font-size: 14px;
                font-weight: 700;
                margin: 0px;
            }
        }
    }
}