.CheckboxCard {
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid var(--magnolia);
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
    max-height: 70px;
    padding: 15px;
    position: relative;
    transition: border .15s;
    user-select: none;
    
    & label {
        position: absolute;
        visibility: hidden;;
    }

    & input {
        appearance: none;
        cursor: pointer;
        height: 100%;
        margin: 0px;
        position: absolute;
        width: 100%;
    }

    & .CheckboxContent {
        align-items: center;
        display: flex;
        flex-grow: 1;

        & .CheckboxMark {
            align-items: center;
            border: 2px solid var(--magnolia);
            border-radius: 3px;
            display: flex;
            height: 12px;
            justify-content: center;
            transition:
                border .15s,
                background-color .15s;
            width: 12px;
        }

        & .CheckboxLabelContainer {
            flex-grow: 1;
            padding: 0px 15px;

            & h3 {
                color: var(--purplishBlue);
                font-size: 1em;
                margin-top: 0px;
                margin-bottom: 2px;
                text-align: left;
            }

            & p {
                text-align: left;
            }

            & .Description {
                font-size: .75em;
                margin: 0px;
            }
        }

        & .Subscript {
            color: var(--purplishBlue);
            font-size: .9em;
            margin: 0px;
        }
    }
}

.CheckboxCard:hover {
    border: 1.5px solid var(--purplishBlue);
}

.CheckboxCard[data-checked='true'] {
    background: var(--magnolia);
    border: 1.5px solid var(--purplishBlue);

    & .CheckboxMark {
        background-color: var(--purplishBlue);
        border: 2px solid var(--purplishBlue);

        & img {
            content: url('/src/assets/icon-checkmark.svg');
            user-select: none;
        }
    }
}