.CheckboxCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 70px;
    margin-bottom: 10px;
    padding: 15px;

    font-size: 14px;

    border-radius: 5px;
    border: 1.5px solid var(--magnolia);

    user-select: none;

    transition: border .15s;

    & label {
        position: absolute;
        visibility: hidden;;

        /* border: 1px solid red; */
    }

    & input {
        position: absolute;
        appearance: none;

        width: 100%;
        height: 100%;
        margin: 0px;

        cursor: pointer;
    }

    & .CheckboxContent {
        display: flex;
        align-items: center;
        flex-grow: 1;

        & .CheckboxMark {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 12px;
            height: 12px;

            border-radius: 3px;
            border: 2px solid var(--magnolia);

            transition:
                border .15s,
                background-color .15s;
        }

        & .CheckboxLabelContainer {
            flex-grow: 1;

            padding: 0px 15px;

            & h3 {
                margin-top: 0px;
                margin-bottom: 2px;

                font-size: 1em;
                color: var(--purplishBlue);
            }

            & .Description {
                margin: 0px;

                font-size: .75em;
            }
        }

        & .Subscript {
            margin: 0px;

            font-size: .9em;
            color: var(--purplishBlue);
        }
    }
}

.CheckboxCard:hover {
    border: 1.5px solid var(--purplishBlue);
}

.CheckboxCard[data-checked='true'] {

    background: var(--magnolia);

    border: 1.5px solid var(--purplishBlue);

    & .CheckboxMark {
        border: 2px solid var(--purplishBlue);
        background-color: var(--purplishBlue);

        & img {
            content: url('/src/assets/icon-checkmark.svg');

            user-select: none;
        }
    }
}