input {
    appearance: none;
}

.RadioButtonCard {
    position: relative;
    display: flex;
    justify-content: start;

    padding: 15px;
    margin-bottom: 10px;

    color: var(--marineBlue);
    font-size: 16px;

    border-radius: 7px;
    border: 1px solid #c4c4c4;

    user-select: none;

    & label {
        appearance: none;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    & input {
        visibility: hidden;
        margin: 0px;
    } 
}

.RadioCardImgContainer {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.RadioCardTextContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    
    & h1 {
        margin: 0px;
        font-size: 1em;
    }

    .Description {
        margin: 0px;
        font-size: .85em;
    }

    .Subscript {
        margin: 0px;
        font-size: .8em;
        color: var(--marineBlue);
    }
}

.RadioButtonCard:hover {
    border: 1px solid #3d3d3d;
}

.RadioButtonCard[data-checked="true"] {
    border: 1px solid var(--purplishBlue);
}