.Toggle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & p {
        color: var(--coolGray);
        font-size: 11px;
        font-weight: 500;
        margin: 0px;
        min-width: 100px;
    }

    & .LabelLeft {
        color: var(--marineBlue);
        display: flex;
        justify-content: end;
    }

    & .LabelRight {
        display: flex;
        justify-content: start;
    }

    & .ToggleFrame {
        align-items: center;
        background-color: var(--marineBlue);
        border-radius: 20px;
        display: flex;
        height: 16px;
        margin: 0px 10px;
        position: relative;
        width: 30px;

        & label {
            appearance: none;
            cursor: pointer;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        & input {
            appearance: none;
            height: 100%;
            margin: 0px;
            position: absolute;
            width: 100%;
        }
    }

    & .ToggleDot {
        background-color: white;
        border-radius: 25px;
        height: 10px;
        margin: 0px 17px 0px 3px;
        transition: margin .25s ease-out;
        width: 10px;
    }
}

.Toggle[data-checked="true"] {
    & p {
        color: var(--coolGray);
    }

    & .LabelRight {
        color: var(--marineBlue);
    }

    & .ToggleDot {
        margin: 0px 3px 0px 17px;
    }
}